# DOCKER IGNORE
#
# Specify all files that will not be included when building any docker image
# When adding files to this list, note that this file is used in both the docker-compose setup and the ci build setup

docker/
.env

# Non-functional files
**/*.md
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# git files
**/.git
.gitignore

# Uploaded files
/storage/*
/spec/test_uploads/*

# Ignore reports
/brakeman-output.*
/coverage
/erd.pdf

# Attachments
/public/uploads/*
/public/packs
/public/packs-test
yarn-debug.log*
.yarn-integrity

# situational files
yarn-error.log
